nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  color: var(--text);

  h1 {
    color: var(--text);
  }
  .nav-list {
    display: flex;

    button {
      color: var(--text);
      background: transparent;
      border: none;
      cursor: pointer;
      border: 2px solid var(--text);
      padding: 0.6rem;
      transition: all 0.3s ease;
      margin-right: 1.2rem;
      &:hover {
        background-color: rgb(65, 65, 65);
        color: #fff;
      }
    }
    .theme-switcher {
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 1;
    }
  }
}
