nav {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  color: var(--text);
  flex-wrap: wrap;
  h1 {
    color: var(--text);
  }
  a {
    text-decoration: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    button {
      color: var(--text);
      background: transparent;
      cursor: pointer;
      border: 2px solid var(--text);
      padding: 0.6rem;
      transition: all 0.3s ease;
      margin-right: 1.2rem;
      &:hover {
        background-color: rgb(65, 65, 65);
        color: #fff;
      }
    }
    .theme-switcher {
      font-size: 2rem;
      cursor: pointer;
    }
    .login {
      color: var(--text);
      text-decoration: none;
      margin-left: 1.2rem;
      font-size: 1.2rem;
    }
    .logout {
      color: red;
      cursor: pointer;
      margin: 0 1.2rem;
      font-size: 1.2rem;
    }
    .nav-links {
      display: flex;
      justify-content: center;
    }
    @media screen and (max-width: 500px) {
      .nav-links {
        flex: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 1;
    }
  }
}

@media screen and (max-width: 390px) {
  .nav-list {
    margin-top: 1rem;

    .nav-links {
      padding: 1rem;
    }
  }
}
