:root {
  --light-background: #fff;
  --dark-background: #212025;
  --light-text: #fff;
  --dark-text: #212025;
  --light-shadow: #c7c5c5;
  --dark-shadow: #1b1b1b;
  --light-hover-text-color: #fff;
  --dark-hover-text-color: #000;
  --dark-h1-h2-h3: #363636;
  --dark-h3-h4: #696969;
  --light-h1-h2-h3: #d4d4d4;
  --light-h3-h4: #b3adad;
  --music-dark: #33323a;
  --music-light: #9898984d;
}

.light {
  --background: var(--light-background);
  --text: var(--dark-text);
  --shadow: var(--light-shadow);
  --hover-text-color: var(--light-hover-text-color);
  --heading-h123: var(--dark-h1-h2-h3);
  --heading-h34: var(--dark-h3-h4);
  --music: var(--music-light);
}

.dark {
  --background: var(--dark-background);
  --text: var(--light-text);
  --shadow: var(--dark-shadow);
  --hover-text-color: var(--dark-hover-text-color);
  --heading-h123: var(--light-h1-h2-h3);
  --heading-h34: var(--light-h3-h4);
  --music: var(--music-dark);
}
