@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--heading-h123);
}
body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: var(--heading-h34);
}

.App {
  height: 100vh;
  color: var(--text);
  transition: all 0.5s ease;
  background-color: var(--background);

  & > div {
    transition: all 0.5s ease;
  }
}

.library-active {
  transition: all 0.5s ease;
  margin-left: 20%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
@import "./animate";
